{% extends "base.html" %}

{% block main %}
<div class="container-fluid">
  <div id="nav-background"></div>
  <div id="nav">

  </div>
  <div id="content">
    <div id="home" class="page">

      <h3>Use the navigation on the left.</h3>
      <ul style="margin-left:5px;">
        <li>All Quizzes - list all quizzes</li>
        <li>Create New - create a new quiz</li>
        <li>Result - list all quiz result</li>
      </ul>
    </div>

    <hr/>
      <h1>Movies Database</h1>

  </div>
</div>

{% endblock %}
